.site_pics{
  height: auto;
  width: auto;
  position: relative;
  display: flex;
  /* left: 22%; */
  top: 10%;
  /* justify-content: center; */
}
.site_pics > img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
  object-fit: contain;

  /* position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
.site_pics > p {
  font-size: large;
  font-style: normal;
  font-weight: bold;
  color: cadetblue;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}